<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.rawgit.com/milligram/milligram/master/dist/milligram.css">
  <title>Vue.js Study</title>
</head>
<body>
  <h1>Vue.js template syntax.</h1>
  <div id="myApp">
    <h4>シンプルな双方向バインド</h4>
    <div>メッセージ表示:{{message.value}}</div>
    <div>長さ:{{message.value.length}}</div>
    <input v-model="message.value"/>
    <h4>リスト表示</h4>
    <ul>
      <li v-for="item in list">
        <span>{{item}}</span>
      </li>
    </ul>
    <h4>属性にバインドする(circleのr)</h4>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <circle cx="100" cy="75" v-bind:r="radius" fill="lightpink"/>
    </svg>
    <input type="range" min="0" max="100" v-model="radius"/>
    <h4>クラス/スタイルのバインド</h4>
    <div>"クラスとスタイルのバインディング - Vue.js" https://jp.vuejs.org/v2/guide/class-and-style.html</div>
    <div>"クラスとスタイルのデータバインディング - 基礎から学ぶVue.js"</div>
    <div v-bind:class="{'is-active':classState.isActive}">v-bind:class</div>
    <button v-on:click="switchState">click bind</button>
    <h4>v-if</h4>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="./main.js"></script>
  <style type="text/css">
    div.is-active {
      color: red;
    }
  </style>
</body>
</html>